/* global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    position: relative;
}

a {
    color:#fff; 
}

/* header */
header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
}

.logo {
    width: 156px;
    height: 92px;
}

.logo_img {
    width: 100%;
}

.menu {
    margin-left: auto;
}

.menu_list, .social_icons {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_item {
    margin-right: 20px;
}

.menu_item a {
    font-size: 21px;
    text-decoration: none;
}

.social_icons{
    width: 81px;
    justify-content: space-between;
}

.social_icons a {
    color: #dab33e;
}

/* section home */
.home {
    background-image: url(../image/home_Bg.jpeg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title {
    font-family: 'YesevaOne';
    font-size: 90px;
    padding: 0 20%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 34px;
}

.home_divider {
    margin-bottom: 34px;
}

.buttons_wrapper {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttons_wrapper li:first-child {
    margin-right: 30px;
}

.home_button {
    font-size: 18px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.8;
    width: 228px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.home_button:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.702);
}

/* section about */
.about {
    padding: 55px 10% 30px;
    display: flex;
    height: 710px;
    background: linear-gradient(317deg, rgba(1, 1, 1, 0.14), rgba(255, 255, 255, 0.14)), url(../image/pattern_2.png);
    background-size: cover; 
    background-repeat: no-repeat;
    justify-content: space-between;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_yellow {
    font-family: 'YesevaOne';
    text-align: center;
    font-size: 36px;
    line-height: 0.67;
    display: flex;
    flex-direction: column;
    margin: 51px 0 32px;
    color: #cc9900;
}
.title_yellow::after {
    content: url(../image/Divider_yellow.png);
    margin-top: 15px;
}

.about_description {
    width: 409px;
    height: 111px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #4c4c4c;
    margin: 0 0 52px;
}

.about_content img {
    margin-left: 131px;
    align-self: flex-start; 
}

.about_image {
    padding-left: 31px;
}

/* section ingredients */

.ingredients {
    height: 758px;
    background-image: url(../image/ingredients_bg.jpeg);
    background-size: cover;
    display: flex;
}

.ingredients_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    width: 570px;
    margin: 100px 10% 100px 51%;
    padding: 80px;
}

.title_white {
    font-family: 'YesevaOne';
    text-align: center;
    font-size: 36px;
    line-height: 0.67;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    color: #fff;
}

.title_white::after {
    content: url(../image/Divider_white.png);
    margin-top: 21px;
}

.ingredients_description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 76px;
}

.ingredients_images {
    display: flex;
    flex-direction: row;
    width: 380px;
    justify-content: space-between;
    list-style: none;
}

.ingredients_images img {
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 0.09);
}

/* section menu */

.menu_dishes {
    height: 994px;
    background: linear-gradient(134deg, rgba(32, 90, 91, 0.14), rgba(255, 255, 255, 0.14)), url(../image/pattern_1.png);
    background-size: cover;
    display: flex;
    padding: 100px 14%;
}

.menu_dishes_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 790px;
    justify-content: space-between;
    margin: 0 -50px;
}

.menu_dishes_chapter {
    width: 433px;
    margin: 0 50px;
}

.menu_dishes_content .title_yellow {
    margin: 0;
}

.menu_dishes_content li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 11px 12px 12px;
    margin-top: 18px;
    position: relative;
}

.menu_dishes_content hr {
    width: 100%;
    height: 1px;
    background-color:#c89f2d;
    margin: 6px 0;
    border: 0;
}

.dish {
    flex: 1 0 50%; 
    font-family: 'YesevaOne';
    font-size: 21px;
    color: #c89f2d;
    line-height: 24px;
}

.prise {
    flex: 1 0 50%;
    font-family: 'YesevaOne';
    text-align: right;
    font-size: 21px;
    color: #c89f2d;
    line-height: 24px;
}

.dish_description {
    flex: 1 0 100%;
    font-size: 16px;
    line-height: 24px;
}

.special {
    border: solid 1px #c89f2d;
}

.special::before {
    content: 'Special';
    position: absolute;
    width: 69px;
    height: 22px;
    background-color: #c89f2d;
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    right: -1px;
    top: -23px;
}

/* section reviews */

.reviews {
    height: 758px;
    background-image: url(../image/reviews_bg.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews_content {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    width: 770px;
    height: 557px;
    padding: 80px;
}

.reviews_description {
    font-family: 'Gentium Book Basic';
    color: #dde0df;
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
    position: relative;
}

.reviews_author {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}

.reviews_description::before {
    content: '\201C';
    font-family: Georgia;
    font-size: 76px;
    color: #f2f4f4dc;
    position: absolute;
    top: -40px;
    left: -31px;
}

/* section reservation */

.reservation {
    height: 708px;
    background: linear-gradient(347deg, rgba(12, 52, 53, 0.14), rgba(255, 255, 255, 0.14)), url(../image/pattern_2.png);
    background-size: cover;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.reservation img {
    padding-right: 30px;
}

.reservation_content {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.reservation_content .title_yellow {
    margin-top: 0;
}

.reservation_description {
    font-size: 16px;
    color: #4c4c4c;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 46px;
    width: 417px;
}
#reservation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 430px;
    list-style: none;
}

.booking_form li label {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    color: #c89f2d;
    display: block;
    margin-bottom: 30px;
}

.booking_form li:nth-child(odd) {
    margin-right: 30px;
}

.booking_form input, select{
    display: block;
    width: 200px;
    height: 36px;
    margin-top: 10px;
}

.reservation_button {
    width: 200px;
    height: 36px;
    text-align: center;
    background-color: #c89f2d;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
}

/* footer */

footer {
    height: 320px;
    background-color: #191919;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 61px 10% 58px;
}

.footer_title {
    font-family: 'YesevaOne';
    text-align: center;
    font-size: 21px;
    line-height: 1.14;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    color: #fff;
}
.footer_title::after {
    content: url(../image/divider_footer.png);
    margin-top: 21px;
}

.footer_content ul {
    list-style: none;
    max-width: 343px;
}

.footer_content ul:nth-child(n+1) {
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 1.4;
    text-align: center;
    color: #fff;
}